
@{
    Layout = null;
}

<!DOCTYPE html>


<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">

@await Html.PartialAsync("/views/AdminLayoutPartial/AdminHeader.cshtml") 

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

                @await Html.PartialAsync("/views/AdminLayoutPartial/AdminAppBrand.cshtml")
                <div class="menu-inner-shadow"></div>

                @await Html.PartialAsync("/views/AdminLayoutPartial/AdminPartialSideBar.cshtml")

            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                @await Html.PartialAsync("/views/AdminLayoutPartial/AdminNavbar.cshtml")



                <div class="content-wrapper">


                    <div class="container">
                        @RenderBody()
                    </div>
                    @await Html.PartialAsync("/views/AdminLayoutPartial/AdminFooter.cshtml")

                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    @await Html.PartialAsync("/views/AdminLayoutPartial/AdminScript.cshtml")

</body>
</html>
