<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("/Views/LayoutPartial/_HeaderLayout.cshtml") 

<body>
    <!--header-->

    @await Html.PartialAsync("/Views/LayoutPartial/_NavbarLayout.cshtml")

    <!-- //header -->

    <div class="container">
        @RenderBody()
    </div>

    @await Html.PartialAsync("/Views/LayoutPartial/_FooterLayout.cshtml")

    @await Html.PartialAsync("/Views/LayoutPartial/_ScriptLayout.cshtml")

   

</body>

</html>