
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Trip Project Pdf Report</h1>

<a href="/Admin/Pdf/StaticPdf" class="btn btn-success">Static Pdf İndir</a><BR /><BR /><br />
<a href="/Admin/Pdf/StaticCustomerPdf" class="btn btn-primary">Static Customer Pdf İndir</a>
