@{
    ViewData["Title"] = "Anasayfa";
}

@await Component.InvokeAsync("Slider") 
@await Component.InvokeAsync("PopularDestination")   
@await Component.InvokeAsync("Statistic")   
<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            @await Component.InvokeAsync("Feature1")
            @await Component.InvokeAsync("Feature2")
            
        </div>
    </div>
</div>
@await Component.InvokeAsync("SubAbout") 
@await Component.InvokeAsync("Testimonial") 
