
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="margin-top:10px">Excel Raporları</h1>

<a href="/Admin/Excel/StaticExcel" class="btn btn-primary">Statik Rapor</a><br />
<a style="margin-top:10px" href="/Admin/Excel/DynamicExcel" class="btn btn-primary">Dinamik Tur Listesi Rapor</a>
